.wrapper {
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
  height: max-content; width: 95%;
  max-width: breakpoint(desktopHD);
  @media screen and (max-width: breakpoint(tablet)) {
    padding: 0 16px;
  }
  @media screen and (max-width: breakpoint(mobile)) {
    padding: 0 8px;
  }
}
