.logo {
  * { transition: all .1s ease-in-out }
  .shadow { opacity:0.5 }
  
  // Theme modes
  &.color {
    .S { fill: url(#SD_LOGO_1) }
    .D { fill: url(#SD_LOGO_2) }
    .shadow, .solutions { fill: $brand_700 }
  }
  &.white {
    .S, .D, .solutions { fill: white }
    .shadow { fill: $brand_700; opacity: 9.000000e-02 }
  }

}
