@use "sass:map";

$break-points: (
  mobile: 480px,
  tablet: 720px,
  desktop: 1240px,
  desktopHD: 1920px
);

@function breakpoint($name) {
  @return map.get($break-points, $name)
};


$brand_100: #007cba;
$brand_150: #006ba1;
$brand_200: #005a87;
$brand_700: #0648F3;

$accent_a: #16de99;
$accent_b: #00c8ce;

$layout_100: #ffffff;
$layout_200: #F6FBFF;
$contrast_400: #697984;


$spring_transition: cubic-bezier(0.000, 0.405, 0.000, 1.285)
